html,
body {
  border: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
ol {
  list-style-type: none;
}
.plsr_action {
  transition: 0.3s ease-in-out;
}
.plsr_action__hiddenRotate {
  opacity: 0;
  transform: scale(0.2) perspective(46em) rotateX(-70deg);
  transition: 0.3s ease-in;
}
.plsr_action__showRotate {
  opacity: 1;
  transform: scale(1) perspective(46em);
  transition: 0.3s ease-out;
}
.plsr_head {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.plsr_hiddenAccessible {
  position: absolute;
  top: -9999em;
  left: -9999em;
}
body {
  height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(ellipse 55vw 30vh at center 111vh, rgba(240, 109, 6, 0.08), transparent), repeating-radial-gradient(circle at center bottom, rgba(240, 109, 6, 0.25), transparent), repeating-radial-gradient(circle at center bottom, rgba(240, 109, 6, 0.08), transparent, rgba(240, 109, 6, 0.08) 5px), repeating-radial-gradient(circle at left top, rgba(240, 109, 6, 0.08), transparent, rgba(240, 109, 6, 0.08) 5px), repeating-radial-gradient(circle at left bottom, rgba(240, 109, 6, 0.08), transparent, rgba(240, 109, 6, 0.08) 5px), repeating-radial-gradient(circle at right top, rgba(240, 109, 6, 0.08), transparent, rgba(240, 109, 6, 0.08) 5px), repeating-radial-gradient(circle at right bottom, rgba(240, 109, 6, 0.08), transparent, rgba(240, 109, 6, 0.08) 5px);
  background-color: #000000;
}
body,
input {
  color: #ffffff;
}
.plsr_panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  background-image: radial-gradient(circle at center bottom, rgba(240, 109, 6, 0.05), transparent), linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) 40%);
}
.plsr_widgets {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
}
.plsr_modal_smokeScreen {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: repeating-linear-gradient(45deg, rgba(2, 38, 66, 0.5), rgba(1, 23, 41, 0.5) 60px), repeating-linear-gradient(-45deg, rgba(1, 23, 41, 0.5), rgba(2, 38, 66, 0.5) 60px);
}
.plsr_modal_window {
  position: fixed;
  z-index: 100001;
  top: 20vh;
  left: 50%;
  margin-left: -10em;
  width: 20em;
  border: 2px solid #f06d06;
  background-color: #5b2902;
  box-shadow: 5px 5px 30px 0px #000000;
}
.plsr_modal_window .plsr_head {
  display: block;
  font-size: 2em;
  padding: 0.3em 1em;
  background-color: #8c4004;
}
.plsr_modal_window .plsr_modal_content {
  padding: 2em;
}
.plsr_form li + li {
  margin-top: 1em;
}
.plsr_form input[type="text"],
.plsr_form input[type="password"] {
  border-width: 0;
  background-color: #000000;
}
.plsr_form input[type="submit"] {
  border-width: 0;
  padding: 7px 15px;
  background-color: #0689f0;
}
.plsr_form input[type="submit"]:hover,
.plsr_form input[type="submit"]:focus {
  background-color: #056dbe;
}
.plsr_form input[type="submit"][disabled] {
  color: #d9d9d9;
  background-color: #536370 !important;
}
.plsr_form__vertical label {
  display: block;
}
.plsr_form__vertical input[type="text"],
.plsr_form__vertical input[type="password"] {
  width: 100%;
  font-size: 1.5em;
}
.plsr_form__vertical input[type="submit"] {
  font-size: 1.5em;
}