@model Pulsar.Models.DashboardPageModel

@{
    ViewBag.Title = Model.ApplicationName + "Dashboard";
}

<a href="@Url.Content(@Model.Templates)" style="position: fixed; top: 0; left: 0; background: #000;">TEMPLATES</a>


@section script {
    <script>
        requirejs(["Scripts/pulsar"], function (pulsar) {
            console.log(pulsar);
            pulsar.pulsar.page.init('@Url.Content(@Model.Templates)');
        });
    </script>
}