.plsr_form {
	li + li {
		margin-top: 1em;
	}

	input[type="text"],
	input[type="password"] {
		border-width: 0;
		background-color: rgb(0, 0, 0);
	}

	input[type="submit"] {
		border: 2px solid @colorBase;
		background-color: fade(@colorBase, 50%);
	}
}