.plsr_modal_smokeScreen {
	background-color: #000;
}



.plsr_modal_window {
	position: fixed;
	top: 20vh;
	left: 50%;
	margin-left: -10em;
	width: 20em;
	border: 2px solid @colorBase;
	background-color: fade(@colorBase, 10%);
	
	.plsr_head {
		display: block;
		font-size: 2em;
		padding: 0.3em 1em;
		background-color: fade(@colorBase, 20%);
	}
	
	.plsr_modal_content {
		padding: 2em;
	}
}